In [ ]:
Day1 Exercise

In [17]:
#Higher-order Function, takes an argument as a function, or returns a function
def apply_twice(function, x):
    return function(function(x))

def add_three(n):
    print("hi",n)
    return n + 3

print(apply_twice(add_three, 5))  # Output: 11

hi 5
hi 8
11

In [1]:
print("Hello, JupyterLab! ðŸŽ‰")

Hello, JupyterLab! ðŸŽ‰

In [ ]:
#Data Loading & Familiarization

In [11]:
import pandas as pd
#load dataset file, df-> dataframe
df=pd.read_csv("movies_sample.csv")

#Pure function to describe the dataset info
def describe_dataset(dataframe):
    return {
        "num_rows": len(dataframe),
        "num_columns": len(dataframe.columns),
        "column_names": list(dataframe.columns),
        "data_types": dataframe.dtypes.to_dict(),
        "null_values":dataframe.isnull().sum().to_dict()
        
    }

#Run and view description
dataset_info = describe_dataset(df);
dataset_info

{'num_rows': 6,
 'num_columns': 5,
 'column_names': ['Title', 'Genre', 'Director', 'Year', 'Rating'],
 'data_types': {'Title': dtype('O'),
  'Genre': dtype('O'),
  'Director': dtype('O'),
  'Year': dtype('int64'),
  'Rating': dtype('float64')},
 'null_values': {'Title': 0,
  'Genre': 0,
  'Director': 0,
  'Year': 0,
  'Rating': 1}}

In [ ]:
#Functional Cleaning & Preprocessing

In [16]:
# Example: filter out rows with missing values in any column
cleaned_df = df[df.notnull().all(axis=1)]

# Using map() to strip whitespace from a string column (example: 'Director')
def clean_column(col):
    return list(map(lambda x: x.strip().title() if isinstance(x, str) else x, col))

# Create a cleaned copy with transformation applied
df_cleaned = cleaned_df.copy()
df_cleaned["Director"] = clean_column(df_cleaned["Director"])
df_cleaned

           Title     Genre              Director  Year  Rating
0     The Matrix    Sci-Fi        Lana Wachowski  1999     8.7
1      Inception    Sci-Fi     Christopher Nolan  2010     8.8
2       Parasite  Thriller          Bong Joon-Ho  2019     8.6
3  The Godfather     Crime  Francis Ford Coppola  1972     9.2
4   Interstellar    Sci-Fi     Christopher Nolan  2014     8.6